services:
  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python -m gunicorn config.wsgi:application --bind 0.0.0.0:8070 --workers 3 --timeout 120
      "
    env_file:
      - .env
    ports:
      - "8070:8070"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
